* @juspay/connector-service-maintainers

*.md @juspay/connector-service-maintainers
*.sh @juspay/connector-service-maintainers
LICENSE @juspay/connector-service-maintainers
.gitignore @juspay/connector-service-maintainers
Makefile @juspay/connector-service-maintainers
.github/ @juspay/connector-service-maintainers
Dockerfile @juspay/connector-service-maintainers
docker-compose.yml @juspay/connector-service-maintainers
.dockerignore @juspay/connector-service-maintainers
docs/ @juspay/connector-service-maintainers

crates/integrations/connector-integration/ @juspay/connector-service-connectors

crates/grpc-server/grpc-server/src/server/ @juspay/connector-service-core

crates/types-traits/domain_types/ @juspay/connector-service-framework
crates/common/external-services/ @juspay/connector-service-framework
crates/types-traits/grpc-api-types/ @juspay/connector-service-proto-maintainers
crates/grpc-server/grpc-server/ @juspay/connector-service-framework
examples/ @juspay/connector-service-framework
config/ @juspay/connector-service-framework

grace/ @juspay/connector-service-grace
