.DS_Store

scripts/__pycache__/
scripts/grace_cli.egg-info/

.grace_registry.json

venv/*

.venv/*
uv.lock
grace_cli.egg-info/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
.env
.ipynb_checkpoints/

# Logs
logs/
*.log
npm-debug.log*

output/


# rulesbook/codegen/references/specs/*

**/references/**

.envrc
